<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8" />
		<meta name="renderer" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title></title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<link rel="stylesheet" type="text/css" href="css/reset.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<!--[if lt IE 9]>
	    <script src="js/html5shiv.min.js"></script>
	    <script src="js/respond.min.js"></script>
	<![endif]-->
	</head>

	<body class="source_page">
		<div class="main">
			<!-- header start -->
			<div class="top clearfix">
				<div class="logo_warp">
					<i class="txt">民航气象业务数字化管理平台</i>
				</div>
				<div class="nav">
					<ul class="fl">
						<li><a href="index.html" class="active">首页</a></li>
						<!--
						<li><a href="">自观数据流</a></li>
						<li><a href="">自观数据流</a></li>
						<li><a href="">自观数据流</a></li>
						<li><a href="">自观数据流</a></li>
						<li><a href="">自观数据流</a></li>-->
					</ul>
					<div class="sys_bar fr">
						<a class="user" href=""><img src="images/user.png" />admin</a>
						<img class="line1" src="images/line1.png" />
						<a href=""><img src="images/sys.png" /></a>
						<img class="line2" src="images/line1.png" />
						<a href=""><img src="images/exit.png" /></a>
					</div>
				</div>
			</div>
			<!-- header end -->

			<!-- container start -->
			<div class="container clearfix">
				<!-- top start -->
				<div class="source_top">
					<ul class="clearfix">
						<li class="clearfix fl">
							<div class="s_item fl">
								<img src="./images/source/s1_2.png" alt="">
								<img class="s_bg" src="./images/source/s_btm.png" alt="">
								<p>自观设备</p>
							</div>
							<div class="s_r fl"></div>
						</li>
						<li class="clearfix fl">
							<div class="s_item fl">
								<img src="./images/source/s2_2.png" alt="">
								<img class="s_bg" src="./images/source/s_btm.png" alt="">
								<p>收集设备</p>
								<p>192.68.100.2</p>
							</div>
							<div class="s_r fl"></div>
						</li>
						<li class="clearfix fl">
							<div class="s_item fl">
								<img src="./images/source/s2_2.png" alt="">
								<img class="s_bg" src="./images/source/s_btm.png" alt="">
								<p>分发设备</p>
								<p>192.68.100.3</p>
							</div>
							<div class="s_r fl"></div>
						</li>
						<li class="clearfix fl">
							<div class="s_item fl">
								<img src="./images/source/s2_1.png" alt="">
								<img class="s_bg" src="./images/source/s_btm.png" alt="">
								<p>解析设备</p>
								<p>192.68.100.4</p>
							</div>
							<div class="s_r fl"></div>
						</li>
						<li class="clearfix fl">
							<div class="s_item fl">
								<img src="./images/source/s2_2.png" alt="">
								<img class="s_bg" src="./images/source/s_btm.png" alt="">
								<p>数据库</p>
								<p>192.68.100.5</p>
							</div>
							<!-- <div class="s_r fl"></div> -->
						</li>
					</ul>
				</div>
				<!-- top end -->
				<div class="source_bottom">
					<table>
						<tr>
							<td>自观设备</td>
							<td colspan="5">传感器：<span class="green">正常</span></td>
						</tr>
						<tr>
							<td>收集设备</td>
							<td>CPU：<span class="green">30%</span></td>
							<td>内存：<span class="green">20%</span></td>
							<td>磁盘：<span class="green">60%</span></td>
							<td>网路：<span class="green">正常</span></td>
							<td>FTP：<span class="green">正常</span></td>
						</tr>
						<tr>
							<td>分发设备</td>
							<td>CPU：<span class="green">30%</span></td>
							<td>内存：<span class="green">20%</span></td>
							<td>磁盘：<span class="green">60%</span></td>
							<td>网路：<span class="green">正常</span></td>
							<td>FTP：<span class="green">正常</span></td>
						</tr>
						<tr>
							<td>解析设备</td>
							<td>CPU：<span class="green">30%</span></td>
							<td>内存：<span class="green">20%</span></td>
							<td>磁盘：<span class="green">60%</span></td>
							<td>网路：<span class="red">中断</span></td>
							<td>FTP：<span class="green">正常</span></td>
						</tr>
						<tr>
							<td>数据库</td>
							<td>CPU：<span class="green">30%</span></td>
							<td>内存：<span class="green">20%</span></td>
							<td>磁盘：<span class="green">60%</span></td>
							<td>网路：<span class="green">正常</span></td>
							<td>FTP：<span class="green">正常</span></td>
						</tr>
					</table>
				</div>
			</div>
			<!-- container end -->
		</div>
	</body>

</html>
